<!DOCTYPE html>
<html lang="zh" th:replace="~{shared/layout.html :: layout('创建', ~{::body}, ~{})}">

<body>
  <h1>创建</h1>
  <h4>计划</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form action="/plan/create" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group">
          <label for="employee_id" class="control-label">员工</label>
          <select id="employee_id" name="employee_id" type="text" class="form-control" th:value="${model.employee?.id}" required>
            <option th:each="s:${employees}" th:value="${s.id}">[[${s.name}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="client_id" class="control-label">客户</label>
          <select id="client_id" name="client_id" type="text" class="form-control" th:value="${{model.client?.id}}" required >
            <option th:each="s:${clients}" th:value="${s.id}">[[${s.name}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="plannedProfit" class="control-label">计划利润</label>
          <input id="plannedProfit" name="plannedProfit" type="number" step="0.01" class="form-control" alt="请输入利润" th:value="${model.plannedProfit}"
                 required/>
        </div>
        <div class="form-group">
          <label for="plannedTime" class="control-label">计划完成时间</label>
          <input id="plannedTime" name="plannedTime" type="Date" class="form-control" alt="请输入计划完成时间" required />
        </div>
        <div class="form-group">
          <label for="finished" class="control-label">是否按时完成</label>
          <input type="checkbox" id="finished" name="finished" class="form-check" th:checked="${model.finished}" />
        </div>
        <div class="form-group">
          <label for="planState" class="control-label">实施情况</label>
          <select id="planState" name="planState" type="text" class="form-control" th:value="${{model.planState}}" required >
            <option value="IN_PROGRESS">进行中</option>
            <option value="FINISHED">已完成</option>
            <option value="FAILED">失败了</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="创建" class="btn btn-primary" />
        </div>
        <script>
          $(function () {
            $("#plannedTime").val("[[${{model.plannedTime}}]]");
            $("#employee_id").val("[[${model.employee?.id}]]");
            $("#client_id").val("[[${model.client?.id}]]");
            $("#planState").val("[[${model.planState}]]");
          });
        </script>
      </form>
    </div>
  </div>
</body>

</html>