<!DOCTYPE html>
<html lang="zh" th:replace="~{shared/layout.html :: layout('删除', ~{::body}, ~{})}">

<body>
  <h1>删除</h1>

  <h3>你确定要删除这个吗？</h3>
  <div>
    <h4>计划</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">计划人</dt>
      <dd class="col-sm-10">[[${model.userName}]]</dd>
      <dt class="col-sm-2">计划时间</dt>
      <dd class="col-sm-10">[[${model.time}]]</dd>
      <dt class="col-sm-2">内容</dt>
      <dd class="col-sm-10">[[${model.content}]]</dd>
      <dt class="col-sm-2">产品</dt>
      <dd class="col-sm-10">[[${model.product?.name}]]</dd>
      <dt class="col-sm-2">状态</dt>
      <dd class="col-sm-10">[[${model.status}]]</dd>
    </dl>

    <form action="/plan/delete" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="hidden" id="id" name="id" th:value="${model.id}" />
      <input type="submit" value="删除" class="btn btn-danger" /> |
      <a th:href="@{/plan}">返回列表</a>
    </form>
  </div>
</body>

</html>