<!DOCTYPE html>
<html lang="zh" th:replace="~{shared/layout.html :: layout('删除', ~{::body}, ~{})}">

<body>
  <h1>删除</h1>

  <h3>你确定要删除这个吗？</h3>
  <div>
    <h4>计划</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2 mb-sm-3">员工</dt>
      <dd class="col-sm-10">[[${s.employee?.name}]]</dd>
      <dt class="col-sm-2 mb-sm-3">客户</dt>
      <dd class="col-sm-10">[[${s.client?.name}]]</dd>
      <dt class="col-sm-2 mb-sm-3">计划利润</dt>
      <dd class="col-sm-10">[[${s.plannedProfit}]]</dd>
      <dt class="col-sm-2 mb-sm-3">计划时间</dt>
      <dd class="col-sm-10">[[${{s.plannedTime}}]]</dd>
      <dt class="col-sm-2 mb-sm-3">是否按计划完成</dt>
      <dd class="col-sm-10">[[${s.finished}]]</dd>
      <dt class="col-sm-2 mb-sm-3">实施情况</dt>
      <dd class="col-sm-10">[[${s.planState}]]</dd>
    </dl>

    <form action="/plan/delete" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="hidden" id="id" name="id" th:value="${model.id}" />
      <input type="submit" value="删除" class="btn btn-danger" /> |
      <a th:href="@{/plan}">返回列表</a>
    </form>
  </div>
</body>

</html>