<!DOCTYPE html>
<html lang="zh"
      th:replace="~{shared/layout.html :: layout('注册', ~{::body}, ~{})}">

<body>
<h1>注册</h1>
<h4>员工</h4>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form id="form" action="/employee/create" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}"/>
      <div class="form-group">
        <label for="name" class="control-label">姓名</label>
        <input id="name" name="name" type="text" class="form-control"
               th:value="${model.name}"/>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">密码</label>
        <input id="password" name="password" type="password"
               class="form-control"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
               alt="密码必须包含大小写字母和数字，长度至少8位"
               th:value="${model.password}" required/>
      </div>
      <div class="form-group">
        <label for="passwordConf" class="control-label">确认密码</label>
        <input id="passwordConf" name="passwordConf" type="password"
               class="form-control" alt="请再次输入密码"
               th:value="${model.password}" required/>
      </div>
      <div class="form-group">
        <label for="department" class="control-label">部门</label>
        <input id="department" name="department" type="text"
               class="form-control" alt="请输入正确的部门"
               th:value="${model.department}"/>
      </div>
      <div class="form-group">
        <label for="salary" class="control-label">薪水</label>
        <input id="salary" name="salary" type="number" step="0.01"
               class="form-control" alt="请输入正确的薪水"
               th:value="${model.salary}"/>
      </div>
      <div class="form-group">
        <label for="employeeType" class="control-label">员工类别</label>
        <select id="employeeType" name="employeeType" class="form-control"
                th:value="${model.employeeType}">
          <option value="EMPLOYEE">普通员工</option>
          <option value="MANAGER">经理</option>
        </select>
      </div>
      <div class="form-group">
        <input type="submit" value="创建" class="btn btn-primary"/>
      </div>
      <script>
        $(function () {
          $('#employeeType').val("[[${model.employeeType}]]");
          // reset error to reload error check
          $("#passwordConf").change(function (e) {
            let p2 = $("#passwordConf");
            if ($("#password").val() === p2.val()) {
              p2[0].setCustomValidity("");
            }
          });
          // add check listener
          $("#form").submit(function (e) {
            let p1 = $("#password"), p2 = $("#passwordConf");
            console.log(p1.val());
            console.log(p2.val());
            debugger;
            // check password-conf.value is equals to password.value
            if (p1.val() !== p2.val()) {
              p2.focus();
              p2[0].setCustomValidity("两次输入的密码不一致");
              // alert("两次输入的密码不一致");
              e.preventDefault();
              return false;
            }
            const form = this;
            let isValid = true;
            $(form).find(':input').each(function () {
              if (!this.validity.valid) {
                isValid = false;
                $(this).focus();
                return false;
              }
            });
            if (!isValid) {
              e.preventDefault();
            }
          });
        });
      </script>
    </form>
  </div>
</div>
</body>

</html>