<!DOCTYPE html>
<html lang="zh" th:replace="~{shared/layout.html :: layout('删除', ~{::body}, ~{})}">

<body>
  <h1>删除</h1>

  <h3>你确定要删除这个吗？</h3>
  <div>
    <h4>员工</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2 mb-sm-3">姓名</dt>
      <dd class="col-sm-10">[[${model.name}]]</dd>
      <dt class="col-sm-2 mb-sm-3">部门</dt>
      <dd class="col-sm-10">[[${model.department}]]</dd>
      <dt class="col-sm-2 mb-sm-3">薪水</dt>
      <dd class="col-sm-10">[[${model.salary}]]</dd>
      <dt class="col-sm-2 mb-sm-3">员工类别</dt>
      <dd class="col-sm-10">[[${model.employeeType.des}]]</dd>
    </dl>

    <form action="/employee/delete" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="hidden" id="id" name="id" th:value="${model.id}" />
      <input type="submit" value="删除" class="btn btn-danger" /> |
      <a th:href="@{/employee}">返回列表</a>
    </form>
  </div>
</body>

</html>