<!DOCTYPE html>
<html lang="zh"
      th:replace="~{shared/layout.html :: layout('用户信息', ~{::body}, ~{})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

<dl class="row">
  <dt class="col-sm-2">类别</dt>
  <dd class="col-sm-10">
    <span sec:authorize="hasAuthority('Admin')">管理员</span>
    <span sec:authorize="hasAuthority('Teacher')">教师</span>
    <span sec:authorize="hasAuthority('Student')">学生</span>
  </dd>
  <th:block th:each="s:${model}">
    <dt class="col-sm-2">[[${s.title}]]</dt>
    <dd class="col-sm-10">[[${s.content}]]</dd>
  </th:block>
</dl>
</body>
</html>