<!DOCTYPE html>
<html lang="zh" th:replace="~{shared/layout.html :: layout('登录', ~{::body}, ~{})}">

<body>
    <h1>登录</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger" th:if="${param.error}">
                <span th:if="${param.error.get(0).isEmpty()}">
                    无效的用户名和密码。
                </span>
                <span th:if="${!param.error.get(0).isEmpty()}" th:text="${param.error}"></span>
            </div>
            <div class="alert alert-danger" th:if="${param.logout}">
                您已成功注销。
            </div>

            <form class="form-group" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input class="form-control" placeholder="Username" name="username" id="username" type="text"
                        autofocus>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" placeholder="Password" name="password" id="password" type="password"
                        value="">
                </div>
                <div class="form-group">
                    <label for="type">登录类型</label>
                    <select class="form-control" name="type" id="type">
                        <option value="员工" selected>员工</option>
                        <option value="客户">客户</option>
                        <option value="管理员">管理员</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary btn-success btn-block" value="登录">
            </form>
        </div>
    </div>
</body>

</html>