<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pagination</title>
</head>
<body>
<nav th:fragment="page (model)">
  <ul class="pagination justify-content-center">
    <li th:class="${model.hasPrevious() ? 'page-item' : 'page-item disabled'}">
      <a class="page-link" th:href="|?page=${model.number-1}|">&laquo;</a></li>
    <li class="page-item" th:if="${model.hasPrevious()}">
      <a class="page-link" href="?page=0" th:text="${1}">first</a></li>
    <li class="page-item" th:if="${model.number>1}">
      <a class="page-link" th:href="|?page=${model.number-1}|" th:text="${model.number}">prev</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        (
      <span th:text="${model.number+1}"></span>
        /
      <span th:text="${model.totalPages}"></span>
        )
      </a>
    </li>
    <li class="page-item" th:if="${model.number < model.totalPages-2}">
      <a class="page-link" th:href="|?page=${model.number+1}|"
         th:text="${model.number+2}">next</a></li>
    <li class="page-item" th:if="${model.hasNext()}">
      <a class="page-link" th:href="|?page=${model.totalPages-1}|"
         th:text="${model.totalPages}">end</a></li>
    <li th:class="${model.hasNext() ? 'page-item' : 'page-item disabled'}">
      <a class="page-link" th:href="|?page=${model.number+1}|">&raquo;</a></li>
  </ul>
</nav>
</body>
</html>